<div class="side-bar-header">
<div class="user-name">
<a href="#">tom</a>
</div>
<div class="create-room">
<a href="#">チャットを作成する</a>
</div>
</div>

<div class="group-form">
<div class=rooms>
<div class=room-name>
<a href=#>talk-room1</a>
</div>
</div>
<div class=room-name>
<div class=rooms>
<a href=#>talk-room2</a>
</div>
</div>
</div>